<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="5; url=/urls" />
  <title></title>
</head>
<body>
  <h1>Sorry, couldn't find <%= shortURL %> in the database.</h1>
  <img src="/static/confused.gif" />
  <h2>Redirecting in 5 seconds</h2>`
</body>
</html>